.thegem-import-prevent-message {
	margin: 20px 0 15px;
	padding: 25px;
	border: 1px solid #138eca;
	background-color: #d7e3e9;
	color: #23282d;
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
}
.thegem-import-prevent-message p {
	font: inherit;
	margin: 0;
}
.thegem-import-prevent-message a.button {
	text-transform: uppercase;
	margin-top: 25px;
}