#primary-menu{
    width: 100%;
    text-align: center !important;
}

#colophon {
    padding: 0px 0 45px !important;
}

#btn-whatsapp{
    width: 57px;
    position: fixed;
    bottom: 44px;
    left: 2px;
    z-index: 999;
    display:none;
}
#btn-whatsapp img{
    width: 100%;
    display: none;
}

#primary-navigation .menu-toggle .menu-line-1, #primary-navigation .menu-toggle .menu-line-2, #primary-navigation .menu-toggle .menu-line-3, #perspective-menu-buttons.primary-navigation .menu-toggle .menu-line-1, #perspective-menu-buttons.primary-navigation .menu-toggle .menu-line-2, #perspective-menu-buttons.primary-navigation .menu-toggle .menu-line-3 {
    background-color: #4c4c4c !important;
}

#menu-item-32428::before{
    content: '';
    background-image: url(../images/bolsa-compras.png);
    background-size: 100% 100%;
    width: 40px;
    height: 45px;
    display: block;
    position: absolute;
    left: -30px;
    top: 0px;
    bottom: 0px;
    margin: auto 0;
}

#primary-menu #menu-item-32428.menu-item-current a{
    border: none !important;
}

.product-labels .new-label, .product-labels .onsale{
    font-size: 10px !important;
}

.product .onsale + .new-label {
    margin-top: 4px !important;
}


.block-content{
    padding: 0px 0 100px;
}

#menu-item-user a .fa-user-circle {
    font-size: 21px;
    margin-top: 5px;
}

#primary-menu .menu-item-searcher{
    width: 35%;
}

#primary-menu .menu-item-searcher .minisearch{
    border: none;
    background-color: #dfe5e8;
}

#primary-menu .menu-item-searcher .minisearch #searchform #searchform-input{
    border-radius: 50px;
    background-color: #fff;
}

#login-tabs .vc_tta-tab, #register-tabs .vc_tta-tab{
    width: 49%;
    border-bottom: 6px solid #e4e4e6;
    position: relative;
}

#login-tabs .vc_tta-tab a, #register-tabs .vc_tta-tab a{
    border-radius: 0px;
    background-color: #fff;
    color: #606060;
}

#login-tabs .vc_tta-tab.vc_active, #register-tabs .vc_tta-tab.vc_active{
    border-bottom: 6px solid #ff5500;
}

#login-tabs .vc_tta-tabs-container .vc_tta-tab:last-child a::before, #register-tabs .vc_tta-tabs-container .vc_tta-tab:last-child a::before{
    content: '';
    background-image: url(../images/register-user.png);
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -90px;
    margin: 0 auto;
}

#login-tabs .vc_tta-tabs-container .vc_tta-tab:first-child a::before, #register-tabs .vc_tta-tabs-container .vc_tta-tab:first-child a::before{
    content: '';
    background-image: url(../images/login-user-active.png);
    filter: grayscale(1);
    opacity: 0.7;
    background-size: 100% 95%;
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -90px;
    margin: 0 auto;
}

#login-tabs .vc_tta-tabs-container .vc_tta-tab.vc_active:first-child a::before, #register-tabs .vc_tta-tabs-container .vc_tta-tab.vc_active:first-child a::before{
    background-image: url(../images/login-user-active.png);
    filter: none;
    opacity: 1;
}

#login-tabs .vc_tta-tabs-container .vc_tta-tab.vc_active:last-child a::before, #register-tabs .vc_tta-tabs-container .vc_tta-tab.vc_active:last-child a::before{
    background-image: url(../images/register-user-active.png);
}


#login-tabs .um-half, #register-tabs .um-half{
    width: 100% !important;
}

#login-tabs .um-field-checkbox-option, #login-tabs .um-link-alt, #register-tabs .um-field-checkbox-option, #register-tabs .um-link-alt{
    color: #d96f0f  !important;
}

#login-tabs .um-field-checkbox.active:not(.um-field-radio-state-disabled) i, #register-tabs .um-field-checkbox.active:not(.um-field-radio-state-disabled) i{
    color: #ff5500;
}

#login-tabs  #um-submit-btn, #register-tabs  #um-submit-btn, #post-32476  #um-submit-btn{
    background: #ff5500 !important;
    border-radius: 50px !important;
}

#shop-widget-area{
    display: none;
}

/*404 PAGE*/

#container-404 .search-field{
    border: 1px solid #b2b2b2;
}

/*END PROFILE*/


/*PROFILE*/

.um-account-main{
    width: 100% !important;
}

.um-account-main .um-woo-orders table{
    width: 100%;
}

.um-account-main .um-button{
    background: #ff5500 !important;
    border-radius: 50px !important;
}

.um-account-profile-link{
    display: none;
}

.um-account-side li a {
    height: 50px !important;
}

.um-account-side li a, .um-account-side li a span.um-account-icon i, .um-account-side li a span.um-account-title, .um-account-side li a span.um-account-icon, .um-account-side li a.current span.um-account-icon, .um-account-side li a.current:hover span.um-account-icon {
    height: 50px !important;
    line-height: 50px !important;
}

.um-account-side li a.current span.um-account-icon{
    color: #ff5500 !important;
}

.um-account-side li a.current, .um-account-side li a.current:hover {
    background-color: #fff;
    border: 1px solid #eee !important;
    border-left: 3px solid #ff5500 !important;
}

#kit-distribuidor .inline-column {
    padding-left: 50px !important;
    padding-right: 0px !important; 
}

.um-field-prize{
    margin-bottom: 30px;
}

.um-field-prize h2{
    font-size: 16px;
    color: #d96f0f;
    text-align: center;
}

.um-field-prize .stats{
    text-align: center;
}

.um-field-prize .stats h3{
    text-align: center;
    font-size: 70px;
    font-weight: 800;
    color: #666;
    margin: 26px auto;
}

.um-account-tab-prize .points-description{
    margin-bottom: 30px;
}

.um-account-tab-prize .points-description h3{
    text-align: center !important;
    color: #666;
}

.um-account-tab-prize .points-description h3 b{
    color: #d96f0f !important;
}

.um-account-tab-prize #um_account_submit_prize{
    display: none !important;
}

.gamipress-achievement-description{
    position: relative;
}

.gamipress-achievement-description h2{
    font-size: 15px;
    margin-left: 20px;
}

.gamipress-achievement-title{
    margin-bottom: 0px;
}

.gamipress-achievement-excerpt{
    position: absolute;
    top: 30%;
    margin-left: 20px;
}

.gamipress-achievement-excerpt p{
    line-height: 15px;
}

.wrap-buttons{
    margin-top: 25px;
    text-align: center;
}

.wrap-buttons .btn-primary{
    padding: 10px 10px;
    font-size: 12px;
    background-color: #ff5500 ;
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
}

.wrap-buttons .btn-primary:hover{
    background-color: #d96f0f;
}

.wrap-buttons .btn-inactive{
    padding: 10px 10px;
    font-size: 12px;
    background-color: #f4f4f4 ;
    border-radius: 50px;
    color: #000;
    font-weight: 400;
}

.um-account-tab-affiliates #um_account_submit_affiliates{
    display: none;
}

.url-container .url-referido{
    text-align: center;
    background-color: #f2b706;
    padding: 10px !important;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #3c3950;
    margin-bottom: 20px;
}

.url-container h5{
    margin-top: 30px;
}

.url-container .url-referido-intro{
    font-size: 18px;
}

.urlcontainer .referido{
    text-align: center;
    background-color: #f2b706;
    padding: 10px !important;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #3c3950;
    margin-bottom: 20px;
}

.urlcontainer h5{
    margin-top: 30px;
}

.urlcontainer .referido-intro{
    font-size: 18px;
}
/*END PROFILE*/


/* SHOP */

.product_title{
    font-weight: 700 !important;

}

.price-label{
    margin-bottom: 5px;
}

.price{
    margin-bottom: 0px !important;
}

.discount-price{
    font-weight: 400 !important;
    margin-bottom: 25px !important;
    font-style: italic;
    line-height: 23px !important;
}

.discount-price del{
    text-decoration-color: #b22222;
}
.discount-price span{
    font-size: 20px;
}

.single-product-content-bottom{
    margin-top: 50px;
}

.woocommerce-variation-availability{
	display: none !important;
}

/*SHOP END*/

/*REDIMIR PUNTOS PAGE*/

.cupon-desbloqueado i{
    background-color: #d96f0f;
    padding: 3px 20px;
    border-radius: 16px;
    color: #fff;
}

/*REDIMIR PUNTOS PAGE END*/

@media (min-width: 1300px) {

#colophon {
    padding: 110px 0 45px !important;
}

    #primary-menu .menu-item-searcher{
        width: 35%;
    }

    .site-title{
        padding-left: 3% !important;
    }

    #primary-menu .menu-item-searcher .minisearch{
        border: none;
        background-color: transparent;
    }

    .um-account-main{
        width: 65% !important;
    }

    .block-content{
        padding: 135px 0 100px;
    }
}

@media (min-width: 1900px) {

    #primary-menu .menu-item-searcher{
        width: 32%;
    }

    .site-title{
        padding-left: 18% !important;
    }
}

#gen_cupon {
    display: block;
    width: 80px;
    margin: 0 auto;
    padding: 2px;
    color: #ffffff;
    background: #D96F0F;
    text-align: center;
    border: 2px;
}