/* -------------------------------------------
	GamiPress Icon
   ------------------------------------------- */

@font-face {
	font-family: 'GamiPress';
	src:  url('../fonts/gamipress.eot?6ncb0e');
	src:  url('../fonts/gamipress.eot?6ncb0e#iefix') format('embedded-opentype'),
	url('../fonts/gamipress.ttf?6ncb0e') format('truetype'),
	url('../fonts/gamipress.woff?6ncb0e') format('woff'),
	url('../fonts/gamipress.svg?6ncb0e#gamipress') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dashicons-rank, .dashicons-rank:before,
.dashicons-gamipress, .dashicons-gamipress:before,
#dashboard-widgets #gamipress h2:before,
.widget[id*="_gamipress_"] .widget-title h3:before {
	font-family: 'GamiPress' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content: "\e900";
}

.dashicons-rank, .dashicons-rank:before {
	content: "\e901";
}

.profile-php h2 .dashicons-gamipress {
	color: #0098d7;
	vertical-align: bottom;
}

.wp-media-buttons-icon.dashicons-gamipress,
.wp-media-buttons-icon.dashicons-gamipress:before {
	color: #0098d7;
	line-height: 18px !important;
}

#dashboard-widgets #gamipress h2:before,
.widget[id*="_gamipress_"] .widget-title h3:before {
	display: inline-block;
	width: 20px;
	height: 14px;
	font-size: 20px;
	line-height: 8px;
	vertical-align: middle;
	text-align: center;
	margin-right: 2px;
	color: #0098d7;
}

/* -------------------------------------------
	Utils
   ------------------------------------------- */

/* No padding utility */
.gamipress-no-pad {
	padding: 0 !important;
}

/* Label utility */
.gamipress-label-info,
.gamipress-label-success,
.gamipress-label-warning,
.gamipress-label-danger {
	color: #fff;
	padding: 1px 5px;
	font-size: 12px;
	font-weight: 500;
	border-radius: 2px;
}

.gamipress-label-info {
	background-color: #00a0d2;
}

.gamipress-label-success {
	background-color: #46b450;
}

.gamipress-label-warning {
	background-color: #ffb900;
}
.gamipress-label-danger {
	background-color: #dc3232;
}

/* -------------------------------------------
	Dashboard widgets
   ------------------------------------------- */

#dashboard-widgets #gamipress .inside {
	margin-top: 0;
}

#dashboard-widgets #gamipress h3 {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	clear: both;
	margin: 0 -12px;
	padding: 6px 12px;
	background-color: #fafafa;
}

#dashboard-widgets #gamipress h3 .dashicons {
	color: #82878c;
	vertical-align: bottom;
}

#dashboard-widgets #gamipress h3:first-child {
	border-top: 0;
}

#dashboard-widgets #gamipress .gamipress-registered-achievements ul:after,
#dashboard-widgets #gamipress .gamipress-registered-points ul:after,
#dashboard-widgets #gamipress .gamipress-registered-ranks ul:after {
	content: "";
	display: block;
	clear: both;
}

#dashboard-widgets #gamipress .gamipress-registered-achievements li,
#dashboard-widgets #gamipress .gamipress-registered-points li,
#dashboard-widgets #gamipress .gamipress-registered-ranks li {
	float: left;
	width: 50%;
	margin-top: 0;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul {
	margin: 0 -12px -12px;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul li {
	margin: 0;
	padding: 4px 12px;
	border-bottom: 1px solid #eee;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul li:nth-child(2n) {
	background-color: #fafafa;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul li:last-child {
	border-bottom: none;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul li a {
	display: block;
}

#dashboard-widgets #gamipress .gamipress-latest-logs ul li span {
	color: #72777c;
}

/* -------------------------------------------
	Meta Boxes (CMB2)
   ------------------------------------------- */

.cmb2-postbox .cmb2-wrap.gamipress-box-form > .cmb-field-list > .cmb-row, .cmb-type-group .cmb2-wrap.gamipress-box-form > .cmb-field-list > .cmb-row {
	padding: 1em 0;
}

.gamipress-box-form .cmb-repeatable-group .cmb-th h2 {
	font-weight: 600;
}

.gamipress-box-form .cmb-row.cmb-repeat .cmb2-metabox-description {
	font-weight: normal;
	color: #aaaaaa;
	padding-left: 12px;
}

.gamipress-box-form  .cmb-repeatable-group .postbox {
	border-radius: 0;
}

.gamipress-box-form  .cmb-repeatable-group .cmb-group-title {
	background-color: #fafafa;
}

.gamipress-box-form  .cmb-repeatable-group .postbox:not(.closed) .cmb-group-title {
	border-bottom: 1px solid #e9e9e9;
}

@media only screen and (min-width: 850px) {

	#postbox-container-1 #side-sortables .gamipress-box-form .cmb-th label {
		font-weight: 600;
	}

	#postbox-container-1 #side-sortables .gamipress-box-form .cmb-th label:after,
	#postbox-container-1 #side-sortables .gamipress-box-form .cmb-row {
		border: none;
	}

	#postbox-container-1 #side-sortables .gamipress-box-form .cmb-row:first-child {
		padding-top: 0;
	}

	#postbox-container-1 #side-sortables .gamipress-box-form .cmb-row,
	#postbox-container-1 #side-sortables .gamipress-box-form .cmb-row .cmb2-metabox-description,
	#postbox-container-1 #side-sortables .gamipress-box-form .cmb-th {
		padding-bottom: 0;
	}

}

/* Points/achievement/rank types edit screen */
.post-type-points-type #post-body #post-body-content,
.post-type-achievement-type #post-body #post-body-content,
.post-type-rank-type #post-body #post-body-content {
	display: none;
}

/* -------------------------------------------
	Requirements UI
   ------------------------------------------- */

#gamipress-requirements-ui .spinner,
.postbox[id^="gamipress-requirements-ui-"] .spinner {
	float: none;
	margin-top: 0;
}

.gamipress-requirements-sequential {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.gamipress-requirements-sequential label {
    color: #aaaaaa;
    font-style: italic;
    margin-left: 45px;
}

li.requirement-row {
	background: #fff;
	border: 1px solid #e9e9e9;
	padding: 15px;
	margin: 0;
	position: relative;
}

li.requirement-row.ui-sortable-placeholder {
	visibility: visible !important;
	background-color: #f1f1f1;
}

li.requirement-row.ui-sortable-helper {
	z-index: 2 !important;
}

li.requirement-row:not(:first-child) {
	margin-top: 8px;
}

li.requirement-row .requirement-header {
	background: #fafafa;
	border-bottom: 1px solid #e9e9e9;
	margin: -15px -15px 15px -15px;
	cursor: move;
}

li.requirement-row .requirement-header .requirement-header-title {
	display: inline-block;
	line-height: 1.5;
	padding: 8px 12px;
    min-height: 15px;
    font-weight: 600;
}

li.requirement-row .requirement-header .requirement-header-title .requirement-order {
    color: #72777c;
}

li.requirement-row .requirement-header .requirement-header-title .requirement-unsaved-changes {
    color: #ffb900;
    height: 17px;
}

li.requirement-row .requirement-header .requirement-actions {
	display: flex;
	float: right;
}

li.requirement-row .requirement-header .requirement-actions .requirement-action {
	cursor: pointer;
	padding: 8px;
	color: #72777c;
}

li.requirement-row .requirement-header .requirement-actions .requirement-action:hover {
	color: #444;
}

li.requirement-row .requirement-header .requirement-actions .requirement-action:not(:first-child) {
    border-left: 1px solid #e9e9e9;
}

li.requirement-row .requirement-header .requirement-actions .requirement-action-change-status {
    position: relative;
}

li.requirement-row .requirement-actions .requirement-action.requirement-action-delete {
	color: #ca4a1f;
}

li.requirement-row .requirement-actions .requirement-action.requirement-action-delete:hover {
	color: #a00;
}

li.requirement-row .required-duration {
	text-align: right;
}

li.requirement-row .requirement-title {
	display: block;
	padding-top:5px;
}

li.requirement-row .points-required {
	width: 100px;
}

li.requirement-row .count,
li.requirement-row .limit,
li.requirement-row .maximum-earnings {
	max-width: 60px;
}

li.requirement-row .title {
	width: 400px;
}

li.requirement-row input, li.requirement-row select {
	vertical-align: middle;
}

li.requirement-row label {
	width: 50px;
	display: inline-block;
}

li.requirement-row.requirement-disabled {
    color: rgba( 51, 51, 51, 0.5 );
}

@media screen and (max-width: 782px) {
	li.requirement-row {
		font-size: 16px;
	}

	li.requirement-row label {
		padding: 10px 0;
		width: 100%;
	}

	li.requirement-row label:first-child {
		padding-top: 0;
	}
}

/* -------------------------------------------
	Log edit screen
   ------------------------------------------- */

.gamipress-log-title-preview h1 {
	padding-top: 0;
	font-size: 1.7em;
}

.gamipress-pattern-tags-list,
.gamipress-log-pattern-tags-list {
	color: #aaaaaa;
	font-style: italic;
	margin: 0;
	padding-top: .5em;
}

.gamipress-pattern-tags-list li,
.gamipress-log-pattern-tags-list li {
	font-size: 13px !important;
}

.gamipress-pattern-tags-list code,
.gamipress-log-pattern-tags-list code {
	color: #444;
	padding: 3px 2px 2px 2px;
}

.gamipress-pattern-tags-list li strong,
.gamipress-log-pattern-tags-list li strong {
	color: #444;
}

.gamipress-pattern-tags-list li span,
.gamipress-log-pattern-tags-list li span {
	color: #444;
	font-style: normal;
}

@media screen and (max-width: 782px) {
	#log-extra-data-ui .cmb-td {
		padding-left: 0;
	}
}

/* -------------------------------------------
	Post lists
   ------------------------------------------- */

.gamipress-post-type .wp-list-table .column-thumbnail {
	width: 40px;
	text-align: center;
	padding-right: 0;
}

@media screen and (max-width: 782px) {

	.gamipress-post-type .wp-list-table .is-expanded td.column-thumbnail {
		display: table-cell !important;
	}

	.gamipress-post-type .wp-list-table .column-thumbnail:before {
		display: none !important;
	}
	
	.gamipress-post-type .wp-list-table .column-thumbnail + .column-title {
		display: table-cell !important;
		/*min-width: calc( 100% - 75px ) !important; /* 35px from cb and 40 px from thumbnail */
	}

	.gamipress-post-type .wp-list-table .is-expanded td:not(.hidden):not(.column-thumbnail):not(.column-title) {
		margin-left: -40px;
	}
	
}

/* -------------------------------------------
	User Profile
   ------------------------------------------- */

.gamipress-table th {
	font-weight: bold;
	padding: 8px 10px;
}
.gamipress-table a.error,
.gamipress_user_earnings a.error {
	color: #a00;
}

.wp-list-table.gamipress_user_earnings .column-name img {
	float: left;
	margin-right: 10px;
}

.wp-list-table.gamipress_user_earnings .column-action {
	width: 10%;
}

.gamipress-profile-cards {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.gamipress-profile-cards .gamipress-profile-card-wrapper {
    width: 100%;
    display: flex;
}

.gamipress-profile-cards .gamipress-profile-card-wrapper .gamipress-profile-card {
    width: 100%;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	background: #fff;
	padding: 6px 12px 12px 12px;
	margin-right: 8px;
	margin-bottom: 8px;
}

@media screen and (min-width: 782px) {
    .gamipress-profile-cards .gamipress-profile-card-wrapper {
        width: 25%;
    }
}

.profile-rank select,
.profile-rank .description,
.profile-points .description {
	display: block;
	margin-top: 5px;
}

.profile-points input {
    width:  100%;
    margin-top: 5px;
}

.profile-rank .profile-rank-type-name,
.profile-points .profile-points-type-name {
	display: block;
	margin-bottom: 5px;
}

.profile-rank .profile-rank-thumbnail,
.profile-points .profile-points-thumbnail {
	display: inline-block;
	vertical-align: middle;
    margin-right: 5px;
}

.profile-rank .profile-rank-thumbnail:empty,
.profile-points .profile-points-thumbnail:empty {
    display: none;
}

.profile-rank-title,
.profile-points-amount {
	vertical-align: middle;
	font-size: 18px;
}

.profile-rank .profile-rank-toggle,
.profile-points .profile-points-toggle {
	display: block;
	text-align: right;
	box-shadow: none !important;
}

.profile-rank .profile-rank-form-buttons,
.profile-points .profile-points-form-buttons {
	margin-top: 5px;
}

.profile-rank-form-wrapper,
.profile-points-form-wrapper {
	display: none;
}

#gamipress-awards-options td img {
	float: left;
	margin-right: 10px;
}

#gamipress-awards-options .spinner,
.gamipress_user_earnings .gamipress-revoke-user-earning + .spinner {
	float: none;
	margin: 3px 0 0 4px;
	background-size: 14px 14px;
	width: 14px;
	height: 14px;
	vertical-align: top;
}

.gamipress-award-achievement.disabled,
.gamipress-revoke-achievement.disabled,
.gamipress-revoke-user-earning.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

/* -------------------------------------------
	Shortcode Editor
   ------------------------------------------- */

.gamipress-shortcode-thickbox #TB_ajaxContent {
	width: 100% !important;
	max-height: 100%;
	padding: 0;
}

.gamipress-shortcode-thickbox .wrap {
	padding-left: 20px;
}

.gamipress-shortcode-thickbox .wrap:after {
	content: "";
	display: table;
	clear: both;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-field-list {
	position: relative;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	width: 100%;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-field-list .cmb-row:not(.cmb-repeat-row) {
	width: 50%;
	padding: 5px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-field-list .cmb-row.cmb-repeat-row {
	width: 100%;
	padding: 5px 40px 5px 40px;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-field-list .cmb-row.cmb-repeat-row input:not(.button),
.gamipress-shortcode-thickbox .cmb2-wrap .cmb-field-list .cmb-row.cmb-repeat-row select {
	width: 100%;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-field-list .cmb-row.cmb-repeat-row input.wp-color-picker {
	min-width: 165px;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row.cmb-repeat-row .cmb-td.cmb-remove-row {
	width: auto;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-field-list .cmb-repeat-table + .cmb-add-row {
	padding: 0;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-repeat-group-wrap,
.gamipress-shortcode-thickbox .cmb2-wrap .cmb-repeat-group-wrap .cmb-row {
	width: 100% !important;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-repeat-group-wrap .cmb-group-name {
	font-size: 14px;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-repeat-group-wrap .cmb-group-description .cmb2-metabox-description {
	font-weight: 400;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-repeat-group-wrap .cmbhandle {
	right: -5px;
	top: -5px;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-repeat-group-wrap .cmb-group-title {
	margin: -5px;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row.cmb-type-title {
	width: 100%;
	border-bottom: 1px solid #eee;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row.cmb-type-title:not(:first-child) {
	border-top: 1px solid #eee;
	margin-top: 1em;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row.cmb-type-title .cmb2-metabox-title,
.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row.cmb-type-title p.cmb2-metabox-description {
	padding: 0 !important;
	margin: 0;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row:nth-child(2n+1) {
	clear: both;
}

.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row .cmb-th,
.gamipress-shortcode-thickbox .cmb2-wrap .cmb-row .cmb-td {
	width: 100%;
	padding: 0;
}

@media screen and (max-width: 782px) {
	.gamipress-shortcode-thickbox .cmb2-wrap .cmb-field-list .cmb-row:not(.cmb-repeat-row) {
		width: 100%;
	}

	.gamipress-shortcode-thickbox .wrap {
		padding-left: 12px;
	}
}

/* Shortcode Editor tabs */
.gamipress-shortcode-thickbox .cmb-tabs-wrap .cmb-tabs {
	background-color: transparent;
}

.gamipress-shortcode-thickbox .cmb-tabs-wrap .cmb-tabs .cmb-tab {
	border-top: 1px solid #eee;
}

.gamipress-shortcode-thickbox .cmb-tabs-wrap .cmb-tabs .cmb-tab:first-child {
	border-left: 1px solid #eee;
}

.gamipress-shortcode-thickbox .cmb-tabs-wrap .cmb-tabs .cmb-tab:not(.active) {
	background-color: #fafafa;
}

.gamipress-shortcode-thickbox .cmb-tabs-wrap .cmb-tabs .cmb-tab .cmb-tab-icon {
	margin-right: 0;
}

/* -------------------------------------------
	Meta Boxes Forms
   ------------------------------------------- */

@media screen and (max-width: 782px) {
	.gamipress-box-form .cmb-th {
		width: 100%;
		padding-bottom: 20px;
	}

	.gamipress-box-form .cmb-th + .cmb-td {
		width: 100%;
	}

	.gamipress-box-form .cmb-row:not(:last-of-type) .cmb-td {
		padding-bottom: 20px;
	}
	
	.gamipress-box-form .cmb2-metabox-description {
		display: block;
	}
}

/* -------------------------------------------
	Select2
   ------------------------------------------- */

.gamipress-select2 {
	width: 100% !important;
	z-index: 100051;
}

body > .gamipress-select2,
.gamipress-widget-form .gamipress-select2 {
	z-index: 100051;
	max-width: 100%;
}

body.wp-customizer > .gamipress-select2 {
	z-index: 1000051;
}

.gamipress-widget-form .gamipress-select2 {
	width: 25em !important;
}

.postbox .gamipress-select2 {
	z-index: 1;
}

.user-edit-php .gamipress-select2,
.profile-php .gamipress-select2,
.gamipress_tools .gamipress-select2 {
	width: 25em !important;
}

.requirements-list .gamipress-select2 {
	max-width: 300px;
}

.gamipress-select2 .select2-selection,
.gamipress-select2 .select2-search--dropdown .select2-search__field,
.gamipress-select2.select2-container--focus .select2-selection--multiple {
	border: 1px solid #7e8993 !important;
	border-radius: 3px !important;
	-webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 ) !important;
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 ) !important;
	color: #32373c !important;
	min-height: 31px !important;
}

.gamipress-select2 .select2-selection--single .select2-selection__rendered {
	line-height: 30px;
}

.gamipress-select2 .select2-dropdown {
	border-color: #7e8993 !important;
	border-radius: 0 !important;
}

.gamipress-select2 .select2-selection--single .select2-selection__clear {
	font-size: 18px;
	line-height: 26px;
}

.gamipress-select2 .select2-selection--multiple .select2-selection__clear {
	font-size: 18px;
	margin-top: 4px;
	margin-right: 6px;
}

.gamipress-select2 .select2-results__option,
.gamipress-select2 .select2-search--dropdown .select2-search__field {
	margin: 0 !important;
}

.gamipress-select2 .select2-selection--multiple .select2-selection__rendered li {
	border-radius: 0;
	padding: 2px 5px 2px;
	vertical-align: middle;
	margin-bottom: 0 !important;
}

.gamipress-select2 .select2-selection--multiple .select2-selection__choice__remove {
	line-height: 10px;
	font-size: 18px;
	vertical-align: top;
	margin-top: 1px;
}

.gamipress-select2 .select2-search--inline .select2-search__field {
	margin-top: 3px;
}

.gamipress-select2  .select2-selection--multiple .select2-selection__choice {
	background-color: #f5f5f5 !important;
	border-color: #7e8993 !important;
	border-radius: 3px !important;
	font-style: normal !important;
}

.gamipress-select2 .select2-results__group {
	background-color: #fafafa;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.gamipress_settings .gamipress-select2 {
	vertical-align: baseline;
}

.gamipress_settings .gamipress-select2.select2-container .select2-selection--single {
	height: 31px;
}

.gamipress-select2.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 29px;
	/* The SVG is arrow-down-alt2 from Dashicons. */
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 2px top 55%;
}

.gamipress-select2.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
	transform: rotate(180deg);
	background-position-x: 3px;
}

.gamipress-select2.select2-container--default .select2-selection--single .select2-selection__arrow b {
	display: none;
}

.gamipress-select2 .select2-results .select2-results__option .result-description {
	display: block;
	position: relative;
	color: #aaaaaa;
}

.gamipress-select2 .select2-results .select2-results__option .result-description .align-right {
	float: right;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] .result-description {
	color: rgba(255,255,255,0.7);
}

.gamipress-select2.select2-container--disabled .select2-selection--single {
    background: rgba( 255, 255, 255, 0.5 ) !important;
    border-color: rgba( 222, 222, 222, 0.75 ) !important;
    box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.04 ) !important;
}

.gamipress-select2.select2-container--disabled .select2-selection--single .select2-selection__rendered {
    color: rgba( 51, 51, 51, 0.5 ) !important;
}

.select2-container--gamipress-select2-hidden {
	display: none !important;
}

@media screen and (max-width: 782px) {
	.gamipress-select2 .select2-selection,
	.gamipress-select2 .select2-search--dropdown .select2-search__field,
	.gamipress-select2.select2-container--focus .select2-selection--multiple {
		min-height: 36px !important;
	}

	.gamipress-select2 .select2-selection--single .select2-selection__arrow {
		height: 36px !important;
	}
	.gamipress-select2 .select2-selection--single .select2-selection__rendered {
		line-height: 36px !important;
		font-size: 16px;
	}
}

/* -------------------------------------------
	Switch control
   ------------------------------------------- */

.gamipress-switch .cmb-td {
	position: relative;
    min-height: 14px;
}

.gamipress-switch input {
	position: absolute;
	top: -2px;
	left: -1px;
	width: 48px;
	height: 26px;
	margin: 0;
	padding: 0;
	z-index: 1;
	border: none;
	box-shadow: none;
	background: transparent !important;
	border-radius: 60px;
}

.gamipress-switch input:before,
.gamipress-switch input:after {
	display: block;
	position: absolute;
	content: "" !important;
	left: 0;
	top: 0;
}

.gamipress-switch input:before {
	border: 2px solid #6c7781;
	border-radius: 100%;
	width: 4px;
	height: 4px;
	margin-top: 9px;
	margin-left: 32px;
}

.gamipress-switch input:checked:before {
	border-color: transparent;
}

.gamipress-switch input:before {
	background: transparent;
}

.gamipress-switch input:checked:after {
	background: #fff;
	width: 2px;
	height: 8px;
	margin-top: 9px;
	margin-left: 12px;
}

.gamipress-switch label .cmb2-metabox-description {
    display: block;
    margin-top: 28px;
}

.gamipress-switch input + label:before,
.gamipress-switch input + label:after {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 1px;
	content: "";
	width: 40px;
	height: 18px;
}

.gamipress-switch input + label:before {
	right: 1px;
	background-color: transparent;
	border: 2px solid #6c7781;
	border-radius: 60px;
	transition: all 0.2s ease;
}

.gamipress-switch input + label:after {
	width: 14px;
	height: 14px;
	margin-left: 4px;
	margin-top: 4px;
	background-color: #6c7781;
	border-radius: 100%;
	transition: all 0.2s ease;
}
.gamipress-switch input:checked + label:before {
	background-color: #11a0d2;
	border-color: transparent;
}

.gamipress-switch input:checked + label:after {
	margin-left: 26px;
	background-color: #fff;
}

#postbox-container-1 #side-sortables .gamipress-box-form .gamipress-switch .cmb-td {
	min-height: 32px;
}

#postbox-container-1 #side-sortables .gamipress-box-form .gamipress-switch .cmb2-metabox-description {
	content: "";
	display: inline-block;
	height: 45px;
}

.block-editor #side-sortables .gamipress-box-form .gamipress-switch .cmb2-metabox-description {
	display: inline-block;
	padding-top: 0;
}

.gamipress-switch .cmb2-list li {
	position: relative;
}

.gamipress-switch .cmb2-list input + label {
	display: block;
	line-height: 24px;
	margin-left: 52px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

li.requirement-row .requirement-header .requirement-actions .requirement-action .gamipress-switch {
    position: relative;
}

li.requirement-row .requirement-header .requirement-actions .requirement-action .gamipress-switch input {
	top: -2px;
	left: -1px;
	width: 44px;
	height: 24px;
}

.gamipress-requirements-sequential.gamipress-switch input + label:before,
.gamipress-requirements-sequential.gamipress-switch input + label:after {
    top: 2px;
}

label[for="_gamipress_sequential"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* -------------------------------------------
	Switch control (small version)
   ------------------------------------------- */

.gamipress-switch.gamipress-switch-small input {
	top: 0px;
	left: -1px;
	width: 44px;
	height: 24px;
}

.gamipress-switch.gamipress-switch-small input:before {
	width: 3px;
	height: 3px;
	margin-top: 9px;
	margin-left: 29px;
}

.gamipress-switch.gamipress-switch-small input:after {
	height: 6px;
	margin-top: 9px;
	margin-left: 11px;
}

.gamipress-switch.gamipress-switch-small label {
    width: 40px;
}

.gamipress-switch.gamipress-switch-small input + label:before,
.gamipress-switch.gamipress-switch-small input + label:after {
	width: 36px;
	height: 16px;
}

.gamipress-switch.gamipress-switch-small input + label:after {
	width: 12px;
	height: 12px;
	margin-top: 4px;
}

.gamipress-switch.gamipress-switch-small input:checked + label:after {
    margin-left: 24px;
}

/* -------------------------------------------
    Image options control
   ------------------------------------------- */

.gamipress-image-options .cmb2-radio-list input {
	display: none;
}

.gamipress-image-options .cmb2-radio-list label {
	text-align: center;
	display: inline-block !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gamipress-image-options .cmb2-radio-list img {
	display: block;
	width: 75px;
	border: 3px solid #efefef;
	margin-bottom: 2px;
}

.gamipress-image-options .cmb2-radio-list input:checked + label img {
	border-color: #1e8cbe;
}

.gamipress-widget-form .gamipress-image-options .cmb2-radio-list li {
	padding-right: 1px;
}

.gamipress-widget-form .gamipress-image-options .cmb2-radio-list img {
	width: 70px;
}

@media only screen and (min-width: 850px) {
	#post-body.columns-2 #postbox-container-1 .gamipress-image-options .cmb2-radio-list li {
		padding-right: 1px;
	}
}

/* -------------------------------------------
	Points field
   ------------------------------------------- */

.cmb-type-gamipress-points .cmb-inline li {
	padding: 0;
}

.cmb-type-gamipress-points input {
	width: 100px;
}

.cmb-type-gamipress-points select {
	margin-top: 0;
	vertical-align: baseline;
}

.cmb-type-gamipress-points select.points-type-placeholder,
.cmb-type-gamipress-points select .points-type-placeholder {
	color: #72777c;
}

.cmb-type-gamipress-points select.points-type-placeholder option:not(.points-type-placeholder) {
	color: #32373c;
}

/* GamiPress forms on widgets area */
.widget[id*="_gamipress_"] .widget-content .cmb-th {
	float: none;
    padding: 0;
	width: 100%;
}

.widget[id*="_gamipress_"] .widget-content .cmb-td {
    padding: 0 0 10px 0;
}

.gamipress-widget-form .cmb-type-title {
	background-color: #fafafa;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	margin:	0 -15px !important;
	padding: 0 15px;
}

.gamipress-widget-form .cmb-type-title .cmb2-metabox-title {
	margin: 0;
	padding: 10px 0 0 0;
}

.gamipress-widget-form .cmb-type-title .cmb2-metabox-description {
	padding: 0;
}

.gamipress-widget-form .gamipress-switch .cmb-td {
	min-height: 24px;
}

.widget-content .cmb-tabs-wrap .cmb-tabs .cmb-tab .cmb-tab-icon {
	margin-right: 0;
}

/* -------------------------------------------
	Meta Boxes Forms on Gutenberg
   ------------------------------------------- */

.components-panel #postbox-container-2 .cmb-row:not(.cmb-repeat-group-field) > .cmb-th + .cmb-td {
	max-width: 100%;
}

.block-editor #side-sortables .gamipress-box-form .cmb-th label {
	margin-bottom: 0;
	padding-bottom: 0;
}

/* -------------------------------------------
	GamiPress Settings and Tools
   ------------------------------------------- */

.gamipress-page.cmb2-options-page {
	max-width: 100%;
}

.gamipress-page.cmb2-options-page .cmb2-metabox > .cmb-row {
	border: none;
	box-shadow: none;
}

.gamipress-page.cmb2-options-page .cmb2-metabox > .cmb-row:not(:first-of-type) {
	border-top: 1px solid #e9e9e9;
}

.gamipress-page .postbox h2.hndle {
	background: #fafafa;
	color: #23282d;
}

.gamipress-page.cmb2-options-page .cmb-row.cmb-type-title {
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9 !important;
	margin:	0 -12px;
}

.gamipress-page.cmb2-options-page .cmb-tabs-wrap .cmb2-wrap .cmb2-metabox > .cmb-row.cmb-type-title {
	margin-top: -1px;
	margin-left: -11px;
}

.gamipress-page.cmb2-options-page .cmb2-wrap .cmb-type-title .cmb2-metabox-title {
	font-size: 14px;
	text-transform: none;
}

.gamipress-page.cmb2-options-page .cmb2-metabox > .cmb-row:first-child.cmb-type-title {
	border-top: 0;
	margin-top: -12px;
}

.gamipress-page .cmb-row.cmb-type-title .cmb2-metabox-title {
	margin-top: 0;
	padding: 8px 0 0 0;
}

.gamipress-page .gamipress-switch input + label:before,
.gamipress-page .gamipress-switch input + label:after {
	top: 22px;
}

.gamipress-page .nav-tab .dashicons {
	vertical-align: text-bottom;
	margin-right: 2px;
}

.gamipress-page input[name="submit-cmb"] {
	float: left;
	margin-right: 12px;
}

.gamipress-page .gamipress-switch input {
	top: 2px;
	left: 8px;
}

.gamipress-page .gamipress-switch input + label:before,
.gamipress-page .gamipress-switch input + label:after {
	top: 4px;
	left: 10px;
}

.gamipress-page .gamipress-switch:not(.cmb-type-multicheck) .cmb2-metabox-description {
	display: inline-block;
	margin-left: 50px;
	margin-top: 7px;
}

.gamipress-page .gamipress-switch .cmb2-list input {
	top: -2px;
	left: -2px;
}

.gamipress-page .gamipress-switch .cmb2-list input + label:before,
.gamipress-page .gamipress-switch .cmb2-list input + label:after {
	top: 0;
	left: 0;
}

.gamipress-page .cmb-type-button .cmb-td p.cmb2-metabox-description,
.gamipress-page .cmb-type-multi-buttons .cmb-td p.cmb2-metabox-description {
	margin-top: -1em;
	margin-bottom: 1em;
	color: #444;
	font-style: normal;
}

.gamipress-page .cmb-type-multi-buttons .button + .button {
	margin-left: 10px;
}

.gamipress-page .button .dashicons {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: text-top;
	margin: 0 2px 0 0;
}

.gamipress_settings .cmb2-metabox > .cmb-row > .cmb-th {
    font-weight: 600 !important;
}

.gamipress-page .postbox .hndle .dashicons {
	height: 18px;
	line-height: 18px;
	margin-right: 5px;
}

.gamipress-page .cmb-tabs-wrap .cmb-tabs .cmb-tab .cmb-tab-icon {
	margin-right: 2px;
	opacity: 0.4;
}

.gamipress-page .cmb-tabs-wrap .cmb-tabs .cmb-tab.active .cmb-tab-icon {
	opacity: 0.8;
}

@media screen and (max-width: 782px) {
	.gamipress-page .cmb-th {
		width: 100%;
	}

	.gamipress-page .cmb-td {
		padding: 15px 0;
	}

	.gamipress-page .gamipress-switch input + label:before,
	.gamipress-page .gamipress-switch input + label:after {
		left: 1px;
	}

	.gamipress-page .gamipress-switch input + label:before,
	.gamipress-page .gamipress-switch input + label:after {
		top: 4px;
	}
}

/* Fixed save buttons on GamiPress Settings */
.gamipress_settings input[name="submit-cmb"],
.gamipress_settings input[name="reset-cmb"] {
    float: right;
}

.gamipress_settings input[name="reset-cmb"] {
    margin-right: 0 !important;
}

@media screen and (min-width: 782px) {

    .gamipress_settings .gamipress-sticky-bar {
        position: fixed;
        right: 0;
        bottom: 0;

        left: 160px;
        width: calc( 100% - 160px );

        z-index: 1;

        background: #fafafa;
        border-top: 1px solid #e5e5e5;
        box-shadow: 0 -1px 1px rgba(0,0,0,0.04);
        padding: 10px 0;
    }

    .gamipress_settings .gamipress-sticky-bar input[name="reset-cmb"] {
        margin-right: 19px !important;
    }

}

@media screen and (max-width: 782px) {

    .gamipress_settings #cmo-options-form > #poststuff + div {
        position: fixed;
        width: 100%;
        background: #fafafa;
        border-top: 1px solid #e5e5e5;
        box-shadow: 0 -1px 1px rgba(0,0,0,0.04);
        right: 0;
        bottom: 0;
        padding: 10px 14px;
        z-index: 1;
    }

    .gamipress_settings input[name="submit-cmb"] {
        padding: 6px 14px;
        line-height: normal;
        font-size: 14px;
        vertical-align: middle;
        height: auto;
    }

    .gamipress_settings input[name="submit-cmb"],
    .gamipress_settings input[name="reset-cmb"] {
        margin-bottom: 0;
    }

}

/* -------------------------------------------
	Licensing Settings
   ------------------------------------------- */

.gamipress_licenses .meta-box-sortables {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -8px;
	margin-right: -8px;
}

.gamipress_licenses .handlediv,
.gamipress_page_gamipress_licenses #screen-options-link-wrap {
	display: none !important;
}

.gamipress_licenses .postbox.closed .inside {
	display: block !important;
}

.gamipress_licenses .postbox {
	width: 100%;
	margin: 0 8px 16px;
}

.gamipress_licenses .gamipress-license-thumbnail {
	margin: -6px -12px 0;
}

.gamipress_licenses .gamipress-license-thumbnail img {
	width: 100%;
}

.gamipress_licenses .cmb-row {
	border: none;
	padding-bottom: 0;
}

.gamipress_licenses .cmb2-metabox > .cmb-row:not(:first-of-type) {
	border: none !important;
}

.gamipress_licenses .cmb-th,
.gamipress_licenses .cmb-td {
	width: 100%;
	padding: 6px 0 !important;
	margin-left: 0 !important;
}

.gamipress_licenses .cmb-td input {
	width: 100%;
}

.gamipress_licenses .license-expiration-notice,
.gamipress_licenses .renew-license-notice {
	display: inline;
}

.gamipress_licenses .license-error {
	color: #a00;
}

.gamipress_licenses .renew-license-notice:before {
	content: ' '; /* Add a space between expiration and renew notices */
}

@media screen and (min-width: 1600px) {

	.gamipress_licenses .postbox {
		width: 23%;
	}

}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
	.gamipress_licenses .postbox {
		width: 31%;
	}
}

/* -------------------------------------------
    Add-ons
   ------------------------------------------- */

.gamipress_page_gamipress_add_ons .wp-filter {
	margin-bottom: 0;
}

.gamipress_page_gamipress_add_ons .wp-filter a:hover,
.gamipress_page_gamipress_add_ons .wp-filter a:focus {
	box-shadow: none;
}

.gamipress_page_gamipress_add_ons .wp-filter a .dashicons {
    vertical-align: bottom;
}

.gamipress-add-ons,
.gamipress-assets {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	width: 100%;
}

.gamipress-plugin-card {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	width: 100%;

	margin-left: 0;
	margin-right: 0;
}

.gamipress-plugin-card .plugin-card-top {
	width: 100%;
}

.gamipress-plugin-card .plugin-card-bottom {
	width: 100%;
	align-self: flex-end;
}

.gamipress-plugin-card .name, .gamipress-plugin-card .desc {
	margin-left: 0;
	margin-right: 0;
}

.gamipress-plugin-card .thumbnail {
	margin: -20px -20px 10px;
}

.gamipress-plugin-card .thumbnail a {
	display: block;
	line-height: 0;
}

.gamipress-plugin-card .thumbnail a img {
	max-width: 100%;
}

.gamipress-plugin-card .action-links {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
}

.gamipress-plugin-card .action-links .plugin-action-buttons {
	float: none;
	margin: 0;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;

	-webkit-align-items: center;
	align-items: center;
}

.gamipress-plugin-card .action-links .plugin-action-buttons li {
	margin: 0;
	width: 50%;
}

.gamipress-plugin-card .action-links .plugin-action-buttons li .more-details {
	float: left;
}

.is-gamipress-plugin#plugin-information #plugin-information-content .notice {
    display: none;
}

@media screen and (min-width: 1600px) {
	.gamipress-plugin-card {
		width: 25%;
		width: -webkit-calc( 25% - 16px );
		width: calc( 25% - 16px );
	}
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
	.gamipress-plugin-card {
		width: 33.3333%;
		width: -webkit-calc( 33.3333% - 16px );
		width: calc( 33.3333% - 16px );
	}
}

@media screen and (min-width: 1200px) {
	.gamipress-add-ons,
	.gamipress-assets {
		margin-left: -8px;
		margin-right: -8px;
	}

	.gamipress-plugin-card {
		margin-left: 8px !important;
		margin-right: 8px !important;
	}
}

/* -------------------------------------------
	Assets
   ------------------------------------------- */

.is-gamipress-asset#plugin-information #plugin-information-tabs,
.is-gamipress-asset#plugin-information #plugin-information-content .fyi {
	display: none;
}

.is-gamipress-asset#plugin-information #plugin-information-content {
    border-top: 1px solid #7e8993;
}

.is-gamipress-asset#plugin-information #plugin-information-content #section-holder {
    margin-right: 0;
}

.is-gamipress-asset#plugin-information #plugin-information-content #section-description ul {
    list-style: none;
    margin: 0;
}

.is-gamipress-asset#plugin-information #plugin-information-content #section-description ul li a {
    margin-bottom: 10px;
}

.is-gamipress-asset#plugin-information #plugin-information-content #section-description ul li img {
    width: 100%;
    box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.3 );
}

.is-gamipress-asset#plugin-information #plugin-information-content #section-description p:last-child a {
    display: inline-block;
    padding: 6px 14px;
    line-height: normal;
    font-size: 14px;
    vertical-align: middle;
    height: auto;
    margin-bottom: 4px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;

    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;

    position: fixed;
    z-index: 100;
    right: 14px;
    bottom: 10px;
}

/* -------------------------------------------
	Tools Page
   ------------------------------------------- */

.gamipress_tools .cmb-td {
	padding: 0;
}

#server-info .inside,
#db-info .inside,
#wordpress-info .inside,
#gamipress-info .inside {
	padding: 0;
	margin: 0;
}

.cmb2-id-bulk-award-achievements .select2-container--default .select2-search--inline .select2-search__field {
	min-width: 150px;
}

/* Reset data options */
.cmb2-id-data-to-reset .cmb2-checkbox-list li:nth-child(2),
.cmb2-id-data-to-reset .cmb2-checkbox-list li:nth-child(5),
.cmb2-id-data-to-reset .cmb2-checkbox-list li:nth-child(6),
.cmb2-id-data-to-reset .cmb2-checkbox-list li:nth-child(8),
.cmb2-id-data-to-reset .cmb2-checkbox-list li:nth-child(12),
.cmb2-id-data-to-reset .cmb2-checkbox-list li:nth-child(13),
.cmb2-id-data-to-reset .cmb2-checkbox-list li:nth-child(14) {
	margin-left: 20px;
}

.cmb2-id-data-to-reset .cmb2-checkbox-list li:nth-child(3),
.cmb2-id-data-to-reset .cmb2-checkbox-list li:nth-child(9) {
	margin-left: 40px;
}

/* Export setup options */
.cmb2-id-export-setup-options input[value="all-points-types"] + label,
.cmb2-id-export-setup-options input[value="all-achievement-types"] + label,
.cmb2-id-export-setup-options input[value="all-rank-types"] + label {
	font-weight: bold;
}


.cmb2-id-export-setup-options input[value$="-points-type"] + label,
.cmb2-id-export-setup-options input[value$="-achievement-type"] + label,
.cmb2-id-export-setup-options input[value$="-rank-type"] + label {
	margin-left: 72px;
}

.cmb2-id-export-setup-options input[value$="-points-type"] + label:before,
.cmb2-id-export-setup-options input[value$="-points-type"] + label:after,
.cmb2-id-export-setup-options input[value$="-achievement-type"] + label:before,
.cmb2-id-export-setup-options input[value$="-achievement-type"] + label:after,
.cmb2-id-export-setup-options input[value$="-rank-type"] + label:before,
.cmb2-id-export-setup-options input[value$="-rank-type"] + label:after {
	left: 20px !important;
}

.cmb2-id-export-setup-options input[value$="-points-awards"] + label,
.cmb2-id-export-setup-options input[value$="-points-deducts"] + label,
.cmb2-id-export-setup-options input[value$="-achievements"] + label,
.cmb2-id-export-setup-options input[value$="-ranks"] + label {
	margin-left: 92px;
}

.cmb2-id-export-setup-options input[value$="-points-awards"] + label:before,
.cmb2-id-export-setup-options input[value$="-points-awards"] + label:after,
.cmb2-id-export-setup-options input[value$="-points-deducts"] + label:before,
.cmb2-id-export-setup-options input[value$="-points-deducts"] + label:after,
.cmb2-id-export-setup-options input[value$="-achievements"] + label:before,
.cmb2-id-export-setup-options input[value$="-achievements"] + label:after,
.cmb2-id-export-setup-options input[value$="-ranks"] + label:before,
.cmb2-id-export-setup-options input[value$="-ranks"] + label:after {
	left: 40px !important;
}

.cmb2-id-export-setup-options input[value$="-steps"] + label,
.cmb2-id-export-setup-options input[value$="-rank-requirements"] + label {
	margin-left: 112px;
}

.cmb2-id-export-setup-options input[value$="-steps"] + label:before,
.cmb2-id-export-setup-options input[value$="-steps"] + label:after,
.cmb2-id-export-setup-options input[value$="-rank-requirements"] + label:before,
.cmb2-id-export-setup-options input[value$="-rank-requirements"] + label:after {
	left: 60px !important;
}

#download-system-info {

	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;

	z-index: 1;

	background: #fafafa;
	border: none;
	border-top: 1px solid #e5e5e5;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.04);
	padding: 10px 0;
	margin: 0;
}

#download-system-info .handlediv,
#download-system-info .ui-sortable-handle {
	display: none;
}

#download-system-info .inside,
#download-system-info .cmb-row,
#download-system-info .cmb-td {
	padding: 0;
}

#download-system-info .cmb-td {
	text-align: right;
	padding-right: 19px;
}

#download-system-info .cmb-row {
	background: transparent;
}

.cmb2-id-import-settings-file .cmb-td {
	padding-bottom: 0;
}

.cmb2-id-import-settings {
	border-top: 0 !important;
}

/* -------------------------------------------
    List Table (used on System Info tool)
   ------------------------------------------- */

.gamipress-list-table {
	color: #555;
}

.gamipress-list-table > .cmb2-metabox > .cmb-row {
	padding: 10px !important;
	font-size: 13px;
}

.gamipress-list-table > .cmb2-metabox > .cmb-row:nth-child(odd) {
	background-color: #f9f9f9;
}

.gamipress-list-table > .cmb2-metabox > .cmb-row > .cmb-th > label {
	font-weight: 600;
	color: #555;
	padding: 0;
}

.gamipress-list-table .cmb-row.cmb-type-title {
	margin: 0 !important;
}

.gamipress-list-table .cmb-row.cmb-type-title .cmb2-metabox-title {
	padding: 0;
}

/* -------------------------------------------
    Upgrade Progress
   ------------------------------------------- */

.gamipress-upgrade-progress {
	background-color: #eee;
}

.gamipress-upgrade-progress .gamipress-upgrade-progress-bar {
	background-color: #0098d7;

	-webkit-transition: width 1s ease;
	-moz-transition: width 1s ease;
	-ms-transition: width 1s ease;
	-o-transition: width 1s ease;
	transition: width 1s ease;
}

.gamipress-upgrade-progress,
.gamipress-upgrade-progress .gamipress-upgrade-progress-bar {
	min-height: 8px;
	margin-bottom: 8px;
}

/* -------------------------------------------
	Review Notice
   ------------------------------------------- */
.gamipress-review-notice {
	position: relative;
	color: #fff;
	background: #0098d7;
	border-color: #0098d7;
}

.gamipress-review-notice a {
	color: #fff;
}

.gamipress-review-notice p span {
	opacity: 0.7;
}

.gamipress-review-notice ul li {
	display: inline-block;
	margin-right: 10px;
}

.gamipress-review-notice .dashicons-gamipress {
	position: absolute;
	right: 10px;
	bottom: -10px;
	opacity: 0.3;
}

.gamipress-review-notice .dashicons-gamipress:before {
	font-size: 200px;
	width: 200px;
	height: 200px;
}

.gamipress-review-notice .button-primary {
	background: #46b450;
	border-color: #3b9243 #37863e #37863e;
	box-shadow: 0 1px 0 #37863e;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #37863e,
	1px 0 1px #37863e,
	0 1px 1px #37863e,
	-1px 0 1px #37863e;
}

.gamipress-review-notice .button-primary.hover,
.gamipress-review-notice .button-primary:hover,
.gamipress-review-notice .button-primary.focus,
.gamipress-review-notice .button-primary:focus {
	background: #47b952;
	border-color: #37863e;
	color: #fff;
}

.gamipress-review-notice .button-primary.focus,
.gamipress-review-notice .button-primary:focus {
	box-shadow: 0 1px 0 #3c9244,
	0 0 2px 1px #53d25f;
}

.gamipress-review-notice .button-primary.active,
.gamipress-review-notice .button-primary.active:hover,
.gamipress-review-notice .button-primary.active:focus,
.gamipress-review-notice .button-primary:active {
	background: #409247;
	border-color: #37863e;
	box-shadow: inset 0 2px 0 #37863e;
	vertical-align: top;
}